body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 150px;
}

img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h2 {
  margin-top: 30px;
  font-size: 40px;
}

.input-area {
  width: 600px;
  height: 40px;
}

button.shorten {
  width: 50%;
}